/* Reset de estilos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*navmenuderecha*/
body{
    background-color: black;
    color: red;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16;
    background-color: #fefdff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a{
    color: purple;
    text-decoration: none;
}

/* quitar los estilos por defecto */

ul{
    list-style: none;
}



.contenidoPrincipal{
    /* tamaño de la página */
    width: 90%;
    /* centrar los elementos */
    margin: auto;
}

/* Estilos de navegación */
.navegacionPrincipal{
    font-size: 18px;   
    /* permite organizar los elementos */
    display: flex;
    /* Sirve para utilizar todo el ancho disponible */
    justify-content: space-between;
    /* centrar los elementos */
    align-items: center;
    height: 70px;  
    padding: 20px 0;
}

hr{
    margin: 10px 0;
}

.menuBoton{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
}

.navLogo{
    width: 60px;
}

/* formato para navegación izquierda */
.contenidoPrincipal ul{
    display: flex;
}

.navegacionPrincipal ul li{
    padding: 10px;
}

.navegacionPrincipal ul li a{
    padding: 2px;
}

.navegacionPrincipal ul li a:hover{
    border-bottom: 5px solid purple;
}

.contenidoPrincipal ul.navMenu{
    flex: 1;
    margin-left: 20px;
}

/*Muestra encabezado*/
.muestraEncabezado{
    width: 100%;
    height: 500px;
    background: url('./Imagenes/pasa.png')
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding: 50px;
    /*padding-bottom: 50px;*/
    margin-bottom: 20px;
    color: rebeccapurple
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: thistle;
    color: slateblue;
    font-size: 15px;
    border: 5px solid slateblue;
    margin: 10px 0;
}

.boton:hover{
    opacity: 0.8;
}

.muestraEncabezado h2,
.muestraEncabezado p{
    margin-bottom: 10px;
}

/* Imagenes del Tema */
.temaImagenes{
    /* Se prepara para una cuadrícula */
    display: grid;
    /* Permite crear columnas */
    grid-template-columns: repeat(4,1fr);
    /* espaciado interno */
    gap: 25px;
    margin: 70px 0;
}

.temaImagenes img{
    width: 180px /*100%*/;
    height: 180px;
}

/*opcional*/
.temaImagenes p{
    text-align: justify;
}

/*opcional*/
.temaImagenes h3{
    font-size: 30px;
    margin: 20px 0;
}

.temaImagenes a{
    padding: 10px 0;
    color: darkviolet;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.temaImagenes a:hover{
    text-decoration: underline;
}

/*opcional*/
.temaImagenes p{
    font-style: italic;    
}

/* bannerImagenes */
.bannerImagenes1{
    width: 100%;
    height: 400px;
    background: url('./Imagenes/pasa2.jpg')
    no-repeat center/cover;
    /* opcional */
    /* opacity: 0.5; */
    margin-bottom: 40px;
}

.bannerImagenes1 .contenido{
    /*opcional
    width: 100%;
    padding: 10px 0 0 30px;
    color: grey;
    text-align: center; */
    width: 40%;
    padding: 90px 0 0 30px;
    color: rgb(0, 0, 0);
    /*background-color: bisque;*/
}

.bannerImagenes1 h2,
.bannerImagenes1 p,
.bannerImagenes2 p{
    margin: 10px 0 0 20px;
}


.bannerImagenes2 {
    width: 100%;
    height: 400px;
    background:  url('imagenes/store.png')
    no-repeat center/cover;
    /* ocpcional */
    /* opacity 0.5; */
    margin-bottom: 40px;
    opacity: 70%;
}
.bannerImagenes2 .contenido{
    /* ocional
    width: 100%;
    padding 10px 0 0 30px;
    color: grey;
    text-align: center */
    width: 100%;
    padding: 150px 0 0 60px;
    color: rgb(217, 255, 0);
    text-align: center
}

.enlace-pie-pagina{
    background: gainsboro;
    color: dimgrey;
    font-size: 12px;
    padding: 35 0;
}

.contenidoPiePagina{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.contenidoPiePagina ul{
    margin: 0 auto;
}

.contenidoPiePagina ul li{
    line-height: 3;
}

.contenidoPiePagina ul li:hover{
    text-decoration: underline;
}

@media (max-width: 900px){
    /* ---4--- */
    .navegacionPrincipal ul.navMenu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: thistle;
        height: 100%;
        transform: translateX(-20px);
    }

    /* ---5---*/
    .navegacionPrincipalul.navMEnu li{
        padding: 20px;
        border-bottom: darkslateblue solid 1px;
        font-size: 15px;
    }

    /* ---6--- */
    .navegacionPrincipal ul.navMenuDerecha{
    }

    /* ---0--- */
        /* prueba */
    body{
        background: black;
    }

        /* ---1--- */
    /* se van a modificar las columnas*/
    .temaImagenes{
        grid-template-columns: repeat(2, 1fr);
    }
    /* ---2--- */
    .bannerImagenes1 .contenido,
    .bannerImagenes2 .contenido{
        width: 80%;
    }
    /* ---3--- */
    .enlace-pie-pagina .contenidoPiePagina{
        grid-template-columns: repeat(2,1fr);
    }
}


.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    width: 200px;
    height: 200px;
  }
  
  .next, .prev {
    width: 50px;
    height: 50px;
  }